---
import Layout from '../layouts/Layout.astro';
import About from '../components/about.astro';
import ProjectCard from '../components/Project-card.astro';
import proyectos from '../data/proyectos.json';
import panda from '../../public/panda-eat-popcorn.png';
import { Image } from 'astro:assets';
---
<Layout title="Andres Ijurra">

	<section class="flex items-center max-lg:flex-col justify-center gap-6 p-4 max-w-6xl mx-auto">
        <Image class="w-32 md:w-48 lg:w-56 sm:w-40" src={panda} alt="Panda comiendo palomitas" />
        <div class="flex flex-col items-center text-center">
            <h1 class="text-secondary md:text-titulo1 max-md:text-titulo2 max-sm:text-titulo4 font-bold font-holtwood ">Andrés Ijurra</h1>
            <h2 class="text-black font-holtwood text-titulo4 max-sm:text-lg">Desarrollador Fullstack</h2>
        </div>
    </section>
	 <About />

	<section class="mt-5 w-full">
		<h2 class="text-titulo3 font-semibold text-secondary font-holtwood">Últimos Proyectos</h2>
		<div class="flex max-lg:flex-col maflex-grow-1 justify-center gap-14 p-0">
			{proyectos.map((proyecto) => (
				<ProjectCard
					id={proyecto.id}
					href={proyecto.url}
					title={proyecto.nombre}
					img={proyecto.imagen}
					body={proyecto.descripcion.slice(0, 100) + '...'}
					state={proyecto.state}
					tecnologias={proyecto.tecnologias}
					url={proyecto.url}
				/>
			))}
		</div>
		<a href="/proyectos" class="text-secondary text-logo text-end block font-holtwood hover:text-black">ver más</a>
	</section>
</Layout>

