---
import Layout from '../layouts/Layout.astro';
import About from '../components/about.astro';
import ProjectCard from '../components/Project-card.astro';
import proyectos from '../data/proyectos.json';
import panda from '../assets/panda-eat-popcorn.png';
import { Image } from 'astro:assets';
---
<Layout title="Andres Ijurra">

	<section class="flex justify-center">
		<Image
			class=""
			src={panda}
			alt="Panda comiendo palomitas"

		/>
		<div class="flex flex-col justify-center">
			<h1 
				class="text-secondary 
						text-titulo1
						font-bold
						text-center
						font-holtwood
						text
						text-nowrap">
				Andrés Ijurra
			</h1>
			<h2 class="text-center text-black font-holtwood text-titulo4">Desarrollador Web</h2>
		</div>	
	</section>
	<About />

	<section class="mt-5 w-full">
		<h2 class="text-titulo3 font-semibold text-secondary font-holtwood">Últimos Proyectos</h2>
		<div class="flex flex-grow-1 justify-center gap-14 p-0">
			{proyectos.map((proyecto) => (
				<ProjectCard
					id={proyecto.id}
					href={proyecto.url}
					title={proyecto.nombre}
					img={proyecto.imagen}
					body={proyecto.descripcion.slice(0, 100) + '...'}
					state={proyecto.state}
					tecnologias={proyecto.tecnologias}
					url={proyecto.url}
				/>
			))}
		</div>
		<a href="/proyectos" class="text-secondary text-logo text-end block font-holtwood hover:text-black">ver más</a>
	</section>
</Layout>

