
---
interface Props {
	id: number;
	title: string;
	body: string;
	img: string;
	href: string;
	state: string;
	url: string;
	tecnologias: string[];
}
import { Image } from 'astro:assets';

const { href, id, title, body, state, url, tecnologias, img } = Astro.props;
const imageurl = `http://localhost:4321/${img}`;
import { getTechBadge } from './functions/getTechBadge';

---

    <article class="p-2 rounded-lg border-solid shadow-md max-w-[350px] min-w-[280px] w-full">
        <Image src={imageurl} class='object-cover' alt="" width="500" height="200"/>
        <article class="flex flex-col flex-grow flex-shrink ">
            <h1 class="text-3xl text-black">{title}</h1>
			 <!-- color de estado dependiendo del estado -->
			<p class={`${state === 'En desarrollo' ? 'text-blue-500' : state === 'Finalizado' ? 'text-green-500' : 'text-black'}`}>{state}</p>
			

            <p class="text-lg text-black">{body}</p>

			<div class="flex flex-wrap">
				{tecnologias.map((tecnologia) => (
					<img src={`https://img.shields.io/badge/${getTechBadge(tecnologia)}`} class="m-1"></img>
				))}
        </article>
		<div class="flex justify-evenly">
			<a href=`/proyectos/${id}` class="bg-secondary rounded-md p-1">Detalles</a>
			<a href=`${url}` target="_blank" class="bg-secondary rounded-md p-1">Visitar Pagina</a>
		</div>
		
        
    </article>
